

/* HEADER TEXT * importing fonts in my file*/

@font-face {
  font-family: 'Havana'; src: url('../fonts/Havanta.ttf');
}
@font-face {
  font-family: 'Havana Italic'; font-weight: italic; src: url('../fonts/Havanta Italic.ttf');
}
@font-face {
  font-family: 'Havana Rounded'; src: url('../fonts/Havanta Rounded.ttf');
}
@font-face {
  font-family: 'Havana Shadows'; src: url('../fonts/Havanta Shadows.ttf');
}

@import url("https://fonts.googleapis.com/css?family=Muli:300,400");


nav {
  padding: 2em;
}

nav li {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 2em;
  font-weight: 300;
  letter-spacing: 1px;

}

nav ul {
  float: right;
}

.logo {
  max-width: 120px;

}

.button {
    background-color: transparent; 
    opacity: 20%;
    color: black;
    border: 2px solid #fff; 
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}



header{
    background: url("../images/coffee-brew.jpg");
    background-size:cover;
    background-position: center 5%;
    background-repeat: no-repeat;
}

header {
    height:500px;
}

section {
  padding: 8em;

}

.tagline {
  text-align: center;
  margin-top: 5em;
}

.viewcoffee {
  text-align: center;

}

#about{
  background:#fff;
  color: #000;
  text-align: center;
}

#location{
  background: url("../images/wynwood.jpg");
  background-size:cover;
  background-position: center 33%;
  background-repeat: no-repeat;
  text-align: center;

}

#social-media {
  background:#fff;
  color: #000;
  text-align: center;
}

footer{
  background: #000;
  text-align: center;
  padding: 5em 0;
  line-height: 2.5;
}

footer li {
  line-height: 2.5;
}

.footer-one {
  float: right;
  width: 50%;
}

.footer-two {
  float: right;
  width: 50%;
}


body {
  background-size: cover;
  color: #fff;
  font-family: 'Mulis', sans-serif;
  font-size: 20px;
  font-weight: 100;
  line-height: 1.2em;
}

h1 {
  font-family: 'Havana', sans-serif;
  font-size: 60px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}

h3 {
  font-family: 'Havana', sans-serif;
  font-size: 30px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

p {
  font-size: 18px;
  font-weight: 100;
}

/* lists */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* unvisited link */

a:link {
    color: #fff;
    transition: color 0.3s linear;
}

/* visited link */

a:visited {
    color: #fff;
}

/* mouse over link */

a:hover {
    color: #D3A038;
}

/* selected link */

a:active {
    color: #fff;
}




