/* HEADER TEXT * importing fonts in my file*/

@font-face {
  font-family: 'Havana'; src: url('../fonts/Havanta.ttf');
}
@font-face {
  font-family: 'Havana Italic'; font-weight: italic; src: url('../fonts/Havanta Italic.ttf');
}
@font-face {
  font-family: 'Havana Rounded'; src: url('../fonts/Havanta Rounded.ttf');
}
@font-face {
  font-family: 'Havana Shadows'; src: url('../fonts/Havanta Shadows.ttf');
}

@import url("https://fonts.googleapis.com/css?family=Muli:300,400");

*, 
*:before,
*:after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav {
  padding: 2em;
}

nav li {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 2em;
  font-weight: 300;
  letter-spacing: 2px;
}

nav ul {
  float: right;
}

.logo {
  max-width: 250px;

}


.button {
    background-color: transparent; 
    opacity: 20%;
    color: black;
    border: 1px solid #fff; 
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

header{
    background: url("../images/mic.jpg");
    background-size:cover;
    background-position: center 5%;
    background-repeat: no-repeat;
}

header {
    height:500px;
}

section {
  padding: 8em;

}

.tagline {
  text-align: center;
  margin-top: 5em;
}



#about{
  background:#fff;
  color: #E8394E;
  text-align: center;
}


#social-media {
  background:#E8394E;
  color: #FFF;
  text-align: center;
}

footer{
  background: #333333;
  text-align: center;
  padding: 5em 0;
  line-height: 2.5;
}

footer li {
  line-height: 2.5;
}

.footer-one {
  float: right;
  width: 50%;
}

.footer-two {
  float: right;
  width: 50%;
}

}

body {
  background-size: cover;
  color: #fff;
  font-family: 'Mulis', sans-serif;
  font-size: 20px;
  font-weight: 100;
  line-height: 1.2em;
}

h1 {
  font-family: 'Havana', sans-serif;
  font-size: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h3 {
  font-family: 'Havana', sans-serif;
  font-size: 30px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

p {
  font-size: 18px;
  font-weight: 100;
}

/* lists */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* unvisited link */

a:link {
    color: #E8394E;
    background-color: rgba(225, 225, 225, 0.2);
    transition: background-color 0.3s linear;
}

/* visited link */

a:visited {
    color: #fff;
}

/* mouse over link */

a:hover {
  background-color: rgba(225, 225, 225, 0.7);
}

/* selected link */

a:active {
    color: #fff;
}
