

/* HEADER TEXT * importing fonts in my file*/

@font-face {
  font-family: 'Havana'; src: url('../fonts/Havanta.ttf');
}
@font-face {
  font-family: 'Havana Italic'; font-weight: italic; src: url('../fonts/Havanta Italic.ttf');
}
@font-face {
  font-family: 'Havana Rounded'; src: url('../fonts/Havanta Rounded.ttf');
}
@font-face {
  font-family: 'Havana Shadows'; src: url('../fonts/Havanta Shadows.ttf');
}

@import url("https://fonts.googleapis.com/css?family=Muli:300,400");


*, 
*:before,
*:after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav {
  padding: 2em;

}

nav li {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 2em;
  font-weight: 300;
  letter-spacing: 1px;

}

nav ul {
  float: right;
}

.logo {
  max-width: 150px;
  line-height: 76

}
 

header{
    background: url("../images/coffee-brew.jpg");
    background-size:cover;
    background-position: center 5%;
    background-repeat: no-repeat;
}

header {
    height:500px;
}

section {
  padding: 8em;

}

body {
  background-size: cover;
  color: #fff;
  font-family: 'Mulis', sans-serif;
  font-size: 20px;
  font-weight: 100;
  line-height: 1.2em;
}

h1 {
  font-family: 'Havana', sans-serif;
  font-size: 60px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}

h3 {
  font-family: 'Havana', sans-serif;
  font-size: 30px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

p {
  font-size: 18px;
  font-weight: 100;
}

/* lists */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* unvisited link */

a:link {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s linear;
}

/* visited link */

a:visited {
    color: #fff;
}

/* mouse over link */

a:hover {
  background-color: #000 ;
}

/* selected link */

a:active {
    color: #fff;
}

.button {
    background-color: transparent; 
    opacity: 20%;
    color: black;
    border: 1px solid #fff; 
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-top: 30px;
}

.tagline {
  text-align: center;
  margin-top: 5em;
}

.viewcoffee {
  text-align: center;

}

#about{
  background:#fff;
  color: #000;
  text-align: center;
}

#location{
   background:#000;
   text-align: center;
}

#location-spot{
    text-align: center;
}

#social-media {
  background:#fff;
  color: #000;
  text-align: center;
  padding: 2em;  
}

.block {
  background-size:cover;
  background-position: center 50%;
  background-repeat: no-repeat;
  text-align: center;
  float: left;
  width: 50%; 
  height: 300px;
  border: 1px solid white; 
  text-align: center;
  position: relative;
}

.block-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}

.sunset{
  background-image: url("../images/sunset-harbour.jpg");

}

.wynwood{
  background-image: url("../images/wynwood.jpg");
}

.grove{
  background-image: url("../images/coconut-grove.jpg");
}


.coming-soon{
  background-image: url("../images/location.jpg");
}


footer{
  background: #000;
  text-align: center;
  padding: 5em 0;
  line-height: 2.5;
}

footer li {
  line-height: 2.5;
}

.footer-right {
  float: right;
  width: 50%;
}

.footer-left {
  float: right;
  width: 50%;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}




